<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">
    <item
        android:id="@+id/endWorkMenuItem"
        android:icon="@drawable/ic_end"
        android:title="Baigti darbą"></item>
    <item
        android:id="@+id/testMenuItem"
        android:title="TIME INPUT"
        app:showAsAction="always">
        <menu xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:app="http://schemas.android.com/apk/res-auto">
            <item
                android:id="@+id/timeInput"
                android:icon="@drawable/ic_time"
                android:title="Set time difference"></item>
        </menu>
    </item>
</menu>